doctype html
html
  head
    include shared/head
  body
    .main
      include shared/header
      include shared/user_panel

    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="/js/application.js")
