doctype html
html
  head
    include shared/head
  body
    .main
      include shared/header

      .lobby-list.lobby-list__display-table
        .lobby-list-header
          .lobby-list-header-item
            | limit
            span.lobby-list-header-item-help ?
          .lobby-list-header-item
            | tables
            span.lobby-list-header-item-help ?
          .lobby-list-header-item
            | game type
            span.lobby-list-header-item-help ?
          .lobby-list-header-item
            | seats
            span.lobby-list-header-item-help ?
          .lobby-list-header-item
            | stakes
            span.lobby-list-header-item-help ?
          .lobby-list-header-item
            | buy in
            span.lobby-list-header-item-help ?
          .lobby-list-header-item
            span.lobby-list-header-item-help
            | hide full
            .lobby-view-switcher
              .lobby-view.lobby-view__type-table.lobby-view__state-active
              .lobby-view.lobby-view__type-list
              .lobby-view.lobby-view__type-settings


        - var n = 0
        while n < 4
          .lobby-item
            .lobby-item-content 2/4 - 5/10
            .lobby-item-content Table 1
            .lobby-item-content Hold'em
            .lobby-item-content.lobby-item-content__filled 9/9
            .lobby-item-content $ 0.4 / $ 0.6
            .lobby-item-content $ 6.40 / $ 16
            .lobby-item-content
              a.lobby-list-button(href="javascript:void(0);") Watch
              a.lobby-list-button.lobby-list-button__type-disabled(href="javascript:void(0);") Full table

          .lobby-item
            .lobby-item-content 2/4 - 5/10
            .lobby-item-content Table 2
            .lobby-item-content Hold'em
            .lobby-item-content 2/9
            .lobby-item-content $ 0.4 / $ 0.6
            .lobby-item-content $ 6.40 / $ 16
            .lobby-item-content
              a.lobby-list-button(href="javascript:void(0);") Watch
              a.lobby-list-button.lobby-list-button__type-sucess(href="javascript:void(0);") Sit Here

          .lobby-item
            .lobby-item-content 2/4 - 5/10
            .lobby-item-content James Bond' Table
            .lobby-item-content Omaha No limit
            .lobby-item-content 4/9
            .lobby-item-content $ 0.4 / $ 0.6
            .lobby-item-content $ 6.40 / $ 16
            .lobby-item-content
              a.lobby-list-button(href="javascript:void(0);") Watch
              a.lobby-list-button.lobby-list-button__type-sucess(href="javascript:void(0);") Sit Here

          .lobby-item
            .lobby-item-content 2/4 - 5/10
            .lobby-item-content Joe Table 1
            .lobby-item-content Hold'em
            .lobby-item-content 4/9
            .lobby-item-content $ 0.4 / $ 0.6
            .lobby-item-content $ 6.40 / $ 16
            .lobby-item-content
              a.lobby-list-button(href="javascript:void(0);") Watch
              a.lobby-list-button.lobby-list-button__type-sucess(href="javascript:void(0);") Sit Here

          .lobby-item
            .lobby-item-content 2/4 - 5/10
            .lobby-item-content London Table
            .lobby-item-content Hold'em
            .lobby-item-content.lobby-item-content__almost-fill 8/9
            .lobby-item-content $ 0.4 / $ 0.6
            .lobby-item-content $ 6.40 / $ 16
            .lobby-item-content
              a.lobby-list-button(href="javascript:void(0);") Watch
              a.lobby-list-button.lobby-list-button__type-sucess(href="javascript:void(0);") Sit Here

          .lobby-item.lobby-item__type-active
            .lobby-item-content 2/4 - 5/10
            .lobby-item-content
              | table 8
              span.lobby-item-yours (yours)
            .lobby-item-content Hold'em
            .lobby-item-content 3/9
            .lobby-item-content $ 0.4 / $ 0.6
            .lobby-item-content $ 6.40 / $ 16
            .lobby-item-content
              a.lobby-list-button(href="javascript:void(0);") Watch
              a.lobby-list-button.lobby-list-button__type-primary(href="javascript:void(0);") Sit Out

          - n++

    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="/js/application.js")
