doctype html
html
  head
    include shared/head
  body
    .main
      include shared/header
      include shared/user_panel

      .cashier-panels
        .cashier-panel.cashier-panel__type-user-form
          h2.user-form-header Personal information
          form
            .user-form-row
              .user-form-control-group
                label.user-form-label username
                input.user-form-input(type="text")
              .user-form-control-group
                label.user-form-label first name
                input.user-form-input(type="text")
              .user-form-control-group
                label.user-form-label last name
                input.user-form-input(type="text")

            .user-form-row
              .user-form-control-group
                label.user-form-label date of birth
                .fake-user-input
                  select.user-form-select.user-form-select__day.js-custom-select
                    option 01
                    option 02
                    option 03
                  select.user-form-select.user-form-select__month.js-custom-select
                    option Sep
                    option Oct
                    option Nov
                  select.user-form-select.user-form-select__year.js-custom-select
                    option 1985
                    option 1986
                    option 1987
              .user-form-control-group
                label.user-form-label e-mail
                input.user-form-input(type="text")
              .user-form-control-group
                label.user-form-label phone
                input.user-form-input(type="text")

            .user-form-row.user-form-row__type-geo
              .user-form-control-group
                label.user-form-label country
                .fake-user-input
                  select.user-form-select.js-custom-select
                    option Russia
                    option France
                    option Ukraine
              .user-form-control-group
                label.user-form-label city
                input.user-form-input(type="text")
              .user-form-control-group
                label.user-form-label zip/post code
                input.user-form-input(type="text")

            .user-form-row.user-form-row__type-bottom
              .user-form-adress-lines
                .user-form-control-group
                  label.user-form-label adress line 1
                  input.user-form-input.user-form-input__type-address(type="text")
                .user-form-control-group
                  label.user-form-label adress line 2
                  input.user-form-input.user-form-input__type-address(type="text")

              .user-form-buttons

                p.user-form-notice Your account is not veryfied

                a.btn.btn-red.btn-block(href="javascript:void(0)") Verify your account

                .user-form-buttons-row
                  a.btn.btn-grey(href="javascript:void(0)") Cancel
                  a.btn.btn-green(href="javascript:void(0)") Save settings


        .cashier-panel.cashier-panel__type-user-info
          h2.user-info-header Avatar
          .user-info-avatar

          a.btn.btn-blue Upload
          br
          a.btn.btn-dark-grey Delete

          br

          nav.user-info-social
            span.user-info-social-header Connect your social accounts
            ul.user-info-social-list
              li.user-info-social-item
                a.user-info-social-link.user-info-social-link__type-twi
              li.user-info-social-item
                a.user-info-social-link.user-info-social-link__type-vk
              li.user-info-social-item
                a.user-info-social-link.user-info-social-link__type-ok
              li.user-info-social-item
                a.user-info-social-link.user-info-social-link__type-fb

      include shared/scripts
