.header
  .pull-left
    img.header-logo(src="images/lobby_logo.png", width="77", height="27", alt="Logo")

  .pull-right
    .header-controls

      nav.nav
        ul.nav-list
          li.nav-item
            a.nav-link.nav-link__active(href="#") Current Session
          li.nav-item
            a.nav-link(href="#") Cashier
          li.nav-item
            a.nav-link(href="#") Help

      .header-time 12:00 UTC+4

      .header-user
        img.header-user-avatar(src="http://lorempixel.com/g/56/56", width="28", height="28")
        span.header-user-caret

      .header-chat
        span.header-chat-label Chat
        span.header-chat-dialogs 0

