.header
  .pull-left
    img.header-logo(src="images/lobby_logo.png", width="77", height="27", alt="Logo")

  .pull-right
    .header-controls

      nav.nav
        ul.nav-list
          li.nav-item
            a.nav-link(href="#") Current Session
          li.nav-item
            a.nav-link(href="#") Cashier
          li.nav-item
            a.nav-link(href="#") Help

      .header-time 12:00 UTC+4

