.user-panel
  .user-panel-pic
  .user-panel-name Bret Maverick

nav.user-nav
  ul.user-nav-list
    li.user-nav-item
      a.user-nav-link.user-nav-link-active(href="javascript:void(0)") cashier
    li.user-nav-item
      a.user-nav-link(href="javascript:void(0)") profile
    li.user-nav-item
      a.user-nav-link(href="javascript:void(0)") settings
    li.user-nav-item
      a.user-nav-link.user-nav-link-bullet(href="javascript:void(0)") achievments
    li.user-nav-item
      a.user-nav-link(href="javascript:void(0)") mailing settings
    li.user-nav-item
      a.user-nav-link(href="javascript:void(0)") statistics
    li.user-nav-item
      a.user-nav-link(href="javascript:void(0)") friends
