*
  box-sizing border-box

.pull-left
  float left !important
.pull-right
  float right !important
.clearfix
  &:before,
  &:after
    content " "
    display table
  &:after
    clear: both


.header
  height 40px
  padding 0 9px
  background #0d0d0d
  color #bbbbbb
  font-size 12px

.header-logo
  position relative
  top 6px

.header-controls
  text-align right

.header-time
  display inline-block
  vertical-align middle
  padding 7px 17px 0 22px


.nav
  padding-top 5px
  font-size 0
  display inline-block
.nav-list
  margin 0
  padding 0
  list-style-type none
.nav-item
  display inline-block
  vertical-align middle
  font-size 14px
  margin 0 5px
.nav-link
  color #bbbbbb
  text-decoration none
  border: 2px solid #363636
  display inline-block
  height 30px
  vertical-align middle
  padding 6px 14px
  border-radius: 15px
  transition: all 150ms ease
  &:hover,
  &.nav-link__active
    background #209067
    border-color #209067
    color #000
.nav-digit
  color #fff
  display inline-block
  margin-left 5px

.nav__type-filter-left
  padding-top 0
  margin-left -5px
  .nav-link
    background-color #555555
    border-color #555555
    color #bbb
    &:hover,
    &.nav-link__active
      background-color #209067
      border-color #209067
      color #fff

.nav__type-filter-right
  padding-top 0
  margin-right -5px
  .nav-link
    background-color #2e5b4f
    border-color #2e5b4f
    color #bbb
    &:hover,
    &.nav-link__active
      background-color #222
      border-color #222
      color #fff


.filter
  background-color #9b9b9b
  padding 8px 9px
